* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background: #dadce0;
  align-items: flex-start; 
  justify-content: center;
}
.masterwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mastercontainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the components horizontally */
}

.component {
  padding: 20px;
  margin: 10px; /* Add some spacing between the components */
}
@media (max-width: 768px) {
  .mastercontainer {
    flex-direction: column; /* Stack components vertically when screen brecomes smaller*/
    align-items: center; 
  }
}