* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;

  
}

body {
  display: flex;
  min-height: 100vh;
  background: #dadce0;
  align-items: flex-start; 
  justify-content: center;
}
.masterwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mastercontainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the components horizontally */
}

.component {
  padding: 20px;
  margin: 10px; /* Add some spacing between the components */
}
@media (max-width: 768px) {
  .mastercontainer {
    flex-direction: column; /* Stack components vertically when screen brecomes smaller*/
    align-items: center; 
  }
}




/* css for scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


::-webkit-scrollbar-corner {
  background: transparent; 
}

/* Curved bottom of scrollbar */
body::-webkit-scrollbar {
  width: 10px;
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px 10px 10px 10px; 
}
